* {
    box-sizing: border-box;
}

[class*="col"] {
    float: left;
    /* padding: 15px; */
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
body {
    background-image: url('../images/background.jpg');
    font-family: "Jost", sans-serif;
    color: #24100a;
    font-size: large;
    text-shadow: #0a05034d 1px 1px 0px;
}

div {
    margin: 1%;
    /* border: #0a0503 2px solid; */
}

h1, h2 {
    font-family: "Playwrite NO", serif;
}

h1, h2, h3 {
    margin-top: 1%;
}

h3{
    font-size: 135%;
}

h1:hover, h2:hover, h3:hover{
    color: #7c3c2a;
    text-shadow: #25110b 1px 1px 0px;
}

a {
    
    color: #e24b1c;
}
a:hover {
    color: #7fffd4;
    text-shadow: #6d311f 1px 1px 0px;
}

span {
    font-weight: bold;
    text-decoration: underline;
    color: #25110b;
}

header {
    margin-left: 1%;
    border-bottom: #24100a 2px solid;
}
figcaption{
    background-color: #ff90647c;
    padding: 1% 0;
    text-align: center;
}

footer {
  margin: 0 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #24100a 2px solid;
}

footer a {
    margin-left: 48%;
}

.rate {
    background-color: #ffe864d5;
}

.menu li{
    margin-bottom: 5px;
    background-color: #cec5ca;
    border: #3f3937 2px solid;
    padding: 5px;
    font-size: 110%;
    list-style: none;
}

.menu li:hover {
    color: #fff;
    text-shadow: #25110b 1px 1px 2px;
}

.menu ul{
    padding: 0;
    margin: 0;
}

#process {
    background-color: #ffbc647c;
    border: #68544e 4px solid;
    width: 31.333%;
}

.col {
    padding: 1%;
    width: auto;
    
}

.recipe-box{
    margin: 1%;
}

